<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li>Partners listing</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
          <th>Partner name</th>
          <th>Category</th>
          <th>Edit</th>
          </thead>
          <tbody>
          <tr>
            <td>demo partner 1</td>
            <td>
              category 1
            </td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <a class="btn btn-primary btn-xs" href="#/partner">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </p>
            </td>
          </tr>
          <tr>
            <td>demo partner 2</td>
            <td>
              category 3
            </td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <a class="btn btn-primary btn-xs" href="#/partner">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </p>
            </td>
          </tr>
          <tr>
            <td>demo partner 12</td>
            <td>
              category 14
            </td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <a class="btn btn-primary btn-xs" href="#/partner">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
